<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/cart.png" sizes="16x16">
    <title>@ViewBag.Title - Shopping Cart</title>
    <style>
        h2 {
            display: inline-block;
            padding-top: 7px;
        }

        .glyphicon-remove:hover {
            cursor: pointer;
            opacity: 0.5;
        }

        .badge {
            position: absolute;
            top: 5px;
            left: 35px;
            background: orange !important;
            color: white;
        }

        .navbar-nav .auth {
            display: none;
        }

        .field-validation-error {
            color: #a94442;
        }

        footer {
            text-align: center;
        }
    </style>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</head>
<body style="padding-bottom: 0;" onload="DisplayQuantity();">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <span class="navbar-brand">Shopping Cart</span>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="@ViewBag.ActiveHome">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="@ViewBag.ActiveGallery">@Html.ActionLink("Gallery", "Index", "Product")</li>
                    @if (@ViewBag.Auth == "true")
                    {
                        <li class="@ViewBag.ActivePurchase auth" style="display: block;">@Html.ActionLink("My Purchases", "Index", "Purchase")</li>
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="@ViewBag.ActiveCart">
                        <a href="/Cart">
                            <div style="display: inline-block; position:relative; width: 38px;">
                                <img src="../images/cart.png" width="30" alt="Cart logo" style="border-radius: 15%; margin-top: -20px; position: absolute;" />
                            </div>Cart <span id="cart_count" class="badge bg-danger"></span>
                        </a>
                    </li>
                    @if (@ViewBag.Auth == null)
                    {
                        <li class="@ViewBag.ActiveLogin"><a href="/Login">Login</a></li>
                    }
                    @if (@ViewBag.Auth == "true")
                    {
                        <li class="auth" style="display: block;">@Html.ActionLink("Logout", "Logout", "Login")</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer align="center" style="background-color: #222; border-color: #080808; padding: 10px; color: white;">
        <p>&copy; @DateTime.Now.Year - Shopping Cart Application</p>
        <p style="margin: 0; font-size: 12px;">Developed by SA48 - Team11(A)</p>
    </footer>

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
<script type="text/javascript">

    
    var products = [];
    function AddtoCart(val) {
        if (sessionStorage.getItem("ProductIds") !== null) {
            products = JSON.parse(sessionStorage.getItem("ProductIds"));
        }

        products.push(val);

        sessionStorage.setItem("ProductIds", JSON.stringify(products));

        var xhr = new XMLHttpRequest();

        xhr.open("POST", "Product/AddtoCart?productId=" + val);
        xhr.send();

        DisplayQuantity();
    }

    function DisplayQuantity() {
        var products = JSON.parse(sessionStorage.getItem("ProductIds"));

        if (products.length > 0) {
            document.getElementById("cart_count").innerHTML = products.length;
        }
        else {
            document.getElementById("cart_count").innerHTML = "";
        }
        
    }

    function removeItem(id) {

        var price = document.getElementById("total").innerHTML;
        var baseElement = document.getElementById(id);
        var content_element = baseElement.firstElementChild.lastElementChild;
        var price_element = content_element.childNodes[2].nextSibling;
        var price = price_element.firstElementChild.innerHTML;
        var quantity = price_element.nextSibling.nextElementSibling.nextElementSibling.firstElementChild.nextElementSibling.value;

        var substract = price * quantity;

        document.getElementById("total").innerHTML -= substract;

        var element = document.getElementById(id);
        element.remove();

        var products = JSON.parse(sessionStorage.getItem("ProductIds"));

        if (products !== undefined || products.length > 0) {

            var filtered = products
                .filter(function (value) {
                    return value != id;
                });

            sessionStorage.setItem("ProductIds", JSON.stringify(filtered));

            DisplayQuantity();
        }

        var xhr = new XMLHttpRequest();
        xhr.open("POST", "Cart/removeItem?productid=" + id);
        xhr.send();

        //console.log(filtered.length);
    }
</script>
</html>
