<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/cart.png" sizes="16x16">
    <title>@ViewBag.Title - Shopping Cart</title>
    <style>
        h2 {
            display: inline-block;
            padding-top: 7px;
        }
        .glyphicon-remove:hover {
            cursor: pointer;
            opacity: 0.5;
        }

    </style>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="padding-bottom: 0;" onload="DisplayQuantity();">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <span class="navbar-brand">Shopping Cart</span>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="@ViewBag.ActiveGallery">@Html.ActionLink("Gallery", "Index", "Product")</li>
                    <li class="@ViewBag.ActivePurchase">@Html.ActionLink("My Purchases", "ViewItem", "Purchase")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="@ViewBag.ActiveCart"><a href="/Cart"><img src="../images/cart.png" width="30" alt="Cart logo" style="border-radius: 15%; vertical-align: top; margin-top: -5px; margin-right: 5px;" /> Cart <span id="cart_count" class="badge bg-danger"></span></a></li>
                    <li class="@ViewBag.ActiveLogin"><a href="/Login">Login</a></liclass="@ViewBag.ActiveGallery">

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer align="center" style="background-color: #222; border-color: #080808; padding: 10px; color: white;">
        <p>&copy; @DateTime.Now.Year - Shopping Cart Application</p>
        <p style="margin: 0; font-size: 12px;">Developed by SA48 - Team11(A)</p>
    </footer>

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
<script type="text/javascript">

    
    var products = [];
    function AddtoCart(val)
    {
        if (sessionStorage.getItem("ProductIds") !== null)
        {
            products = JSON.parse(sessionStorage.getItem("ProductIds"));
        }

        products.push(val);

        sessionStorage.setItem("ProductIds", JSON.stringify(products));

        //console.log(products.length);

        DisplayQuantity();
    }

    function DisplayQuantity()
    {
        var products = JSON.parse(sessionStorage.getItem("ProductIds"));
        document.getElementById("cart_count").innerHTML = products.length;
    }

</script>
</html>
