@using ShoppingCart.Models
@{
    ViewBag.Title = "Purchase";
    ViewBag.ActivePurchase = "active";
}

@{
    var products = (List<PurchaseProduct>)ViewData["PurchasedProduct"];
}


<h2>My Purchases</h2>

<section style="padding-top: 30px; min-height: 500px;">
    <div class="row">
        @foreach (var product in products)
        {
            <div class="col-sm-6 col-md-3" style="padding-right: 0;">
                <div class="thumbnail" style="border-radius: 5px 0 0 5px;" align="center">
                    <img src="~/@product.Image" alt="Pay Pal" width="150">
                    <div class="caption">
                        <h3>@product.ProductName</h3>
                        <p align="justify">@product.Description</p>
                        <p><button type="button" class="btn btn-primary">Download</button></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3" style="padding-left: 0;">
                <div class="thumbnail" style="border-left: 0; border-radius: 0 5px 5px 0; height: 328px;">
                    <table class="table no-border">
                        <tr>
                            <td style="border-top: 0;">
                                <b>Purchased On:</b><br />
                                @product.PurchaseDate
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Quantity:</b><br />
                                @product.Quantity
                            </td>
                        </tr>
                        <tr>
                            <td><b>Activation Code:</b><br/>
                            @product.ActivationCode</td>
                        </tr>
                    </table>
                </div>
            </div>
         }
    </div>
</section>